In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
resto = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\restaurantes.csv',encoding='latin-1')
resto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  95 non-null     int64
 1   Nombre Restaurante  95 non-null     object
 2   Dirección           93 non-null     object
 3   Distrito Postal     93 non-null     float64
 4   Localidad           93 non-null     object
 5   Provincia           95 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.6+ KB

In [12]:
resto[['Provincia','Localidad']].value_counts()

Provincia  Localidad
Madrid     Madrid                        73
           Majadahonda                    6
           Alaclá de Henares              1
           Alcalá de Henares              1
           Alcobendas                     1
           Aravaca                        1
           Brunete                        1
           Galapagar                      1
           Las Matas                      1
           Las Rozas                      1
           Lozoya                         1
           Pozuelo de Alarcón             1
           RIvas - Vaciamadrid            1
           Rivas - Vaciamadrid            1
           San Sebastián de los Reyes     1
           Torrelodones                   1
Name: count, dtype: int64