In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
sol_musicos = pd.read_csv(r'E:\OneDrive\Data Science Bootcamp 2023\jaume_eda\solicitudes_musicos.csv',encoding='latin-1')
sol_musicos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   id                                   547 non-null    int64
 1   Date                                 547 non-null    object
 2   Title                                506 non-null    object
 3   calculadora_musico_nombre_artistico  547 non-null    object
 4   calculadora_musico_provincia         512 non-null    object
 5   calculadora_musico_tipo              533 non-null    object
 6   calculadora_provincia_evento         512 non-null    object
 7   calculadora_numero_invitados         512 non-null    float64
 8   calculadora_espacio_evento           512 non-null    object
 9   calculadora_horas_actuacion          512 non-null    float64
 10  calculadora_formato_musico           452 non-null    object
 11  estimacionPrecioTotal                511 non-null    object
 12  fech_evento                          335 non-null    object
 13  calculadora_id_musico                418 non-null    float64
 14  solicitud_calculada_paso             418 non-null    float64
 15  estado_solicitud                     397 non-null    object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.5+ KB

In [5]:
sol_musicos

,id,Date,Title,calculadora_musico_nombre_artistico,calculadora_musico_provincia,calculadora_musico_tipo,calculadora_provincia_evento,calculadora_numero_invitados,calculadora_espacio_evento,calculadora_horas_actuacion,calculadora_formato_musico,estimacionPrecioTotal,fech_evento,calculadora_id_musico,solicitud_calculada_paso,estado_solicitud
0,31796,2023-03-10,NaN,Eva Páez,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10989.0,1.0,NaN
1,31798,2023-03-10,NaN,Spin Off,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8279.0,1.0,NaN
2,31799,2023-03-10,NaN,Kilometro cero,NaN,Músico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9421.0,1.0,NaN
3,31800,2023-03-10,NaN,Crazy Cabin,Madrid,Músico,Madrid,250.0,dentro,1.0,Solista,528,NaN,16158.0,2.0,NaN
4,31801,2023-03-10,Mensaje de a Serotonina,Serotonina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,44696,2023-06-20,Reserva - Arre-Molke,Arre-Molke,Zamora,Músico,Zamora,20.0,dentro,2.0,Banda con batería,1200,NaN,44683.0,2.0,presupuesto_calculado
543,44697,2023-06-20,Reserva - Arre-Molke,Arre-Molke,Zamora,Músico,Zamora,20.0,dentro,1.0,Banda con batería,960,NaN,44683.0,2.0,presupuesto_calculado
544,44734,2023-06-20,Reserva - Arde la calle,Arde la calle,Madrid,Músico,Ávila,50.0,aire,3.0,Dúo,632,2023-08-05,11405.0,3.0,amedias
545,44762,2023-06-21,Reserva - DZayasMusic,DZayasMusic,Madrid,Músico,Madrid,100.0,dentro,2.0,Solista,420,NaN,5382.0,2.0,presupuesto_calculado
546,44921,2023-06-21,Reserva - CAPITAN NEMO COVER BAND,CAPITAN NEMO COVER BAND,Murcia,Músico,Murcia,100.0,aire,2.0,Dúo,840,NaN,10878.0,2.0,presupuesto_calculado

In [13]:
musicos_mad = sol_musicos[sol_musicos['calculadora_musico_provincia'] == 'Madrid']
musicos_mad['calculadora_musico_nombre_artistico'].value_counts()

calculadora_musico_nombre_artistico
Guilan                   21
Rústica                  18
Rock-Olas                17
aitor_musico             14
Arde la calle            10
                         ..
FONTÁN                    1
Mai Prieto Violinista     1
Cocktel Flamenkito        1
Daniel Gómez              1
Alejandro Rosa            1
Name: count, Length: 69, dtype: int64

In [24]:
musicos_mad[['calculadora_musico_nombre_artistico','calculadora_musico_provincia']].sort_values(by= 'calculadora_musico_nombre_artistico',ascending=True)

    calculadora_musico_nombre_artistico calculadora_musico_provincia
211                         80 RedNecks                       Madrid
134                             AMEDIAS                       Madrid
425                             AMEDIAS                       Madrid
196                   Alejandro Heredia                       Madrid
530                      Alejandro Rosa                       Madrid
..                                  ...                          ...
442                        aitor_musico                       Madrid
509                        aitor_musico                       Madrid
435                        aitor_musico                       Madrid
494                                noon                       Madrid
244                                noon                       Madrid

[211 rows x 2 columns]